@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (Model.HasSetupGoogleAccount)
{
    <a asp-page="/Channels/Index">Channels</a>
    <a asp-page="/Videos/Index">Videos</a>
    <a asp-page="/Tasks/Index">Tasks</a>
}
else
{
    <div>You haven't authenticated IceTube with google, please do so by clicking <a asp-page="/Authentication/Index">here</a></div>
}